.grid-view-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.grid-view-column {
    width: 50%;
    padding: 12px;
}

.grid-view-row {
    height: auto;
}


.number-input-container {
    display: inline-block;
    width: 100px;
    padding: 0 !important;
    padding: 0;
}

.number-input-container input {
    padding: inherit 0 !important;
}