.srow-wrapper {
    padding: 0px 25px;
    display:block;
    width: 100%;
    position:relative;
}

.srow-header {
    position: absolute;
    top: 0px;
    right: 10px;
}

.srow-content {
    width:100%;
    display:flex;
    flex-wrap: nowrap;
}

.srow-grid-view {
    width: 100%;
}

.srow-grid-view tr {
    width:50%;
}

.srow-grid-view tr td {
    width: 50%;
}